.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup_inner {
    position: relative;
    padding: 32px;
    width: 526px;
    height: 503px;
    max-width: 640px;
    border-radius: 10px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.popup_inner .close_btn {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    background-color: #fff;
    border: none;
}

.popup_inner .close_btn svg {
    color: #FFF;
    font-size: 20px;
    background-color: #7DD956;
}

.popup_inner p {
    font-weight: 300;
    font-size: 18px;
    color: #A1A4B2;
}

.popup_nome {
    display: flex;
    flex-direction: column;
}

.popup_nome input{
    border-width: 0.5px;
    width: 426px;
    height: 51px;
    border-radius: 10px;
}

.popup_quantcalori {
    display: flex;
    flex-direction: row;
}

.popup_quantcalori input{
    border-width: 0.5px;
    width: 188px;
    height: 51px;
    border-radius: 10px;
}

.popup_inner .save_btn {
    position: absolute;
    width: 426px;
    height: 51px;
    left: 50px;
    top: 402px;
    background-color: #7DD956;
    box-shadow: 0px 2px 16px rgba(11, 11, 11, 0.1);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}