.contato_completo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px 20px 0px;
}

.contato_interno {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
}

.contato_sugestao {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contato_email {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contato_email p {
    font-weight: 400;
    font-size: 16px;
    color: #141F10;
}

.contato_email input {
    width: 100%;
    margin-top: 5px;
    padding: 10px 10px 10px 10px;
    border: 0.7px solid #141F10;
    filter: drop-shadow(1px 1px 1px rgba(19, 34, 53, 0.4));
    border-radius: 15px;
}

.contato_mensagem {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contato_mensagem input {
    width: 100%;
    margin-top: 5px;
    padding: 10px 10px 200px 10px;
    border: 0.7px solid #141F10;
    filter: drop-shadow(1px 1px 1px rgba(19, 34, 53, 0.4));
    border-radius: 15px;
}

.btn_sugestion a {
    width: 100%;
    border: none;
    padding: 15px 30px;
    background: #141F10;
    color: white;
    box-shadow: 1px 1px 5px 1px rgba(109, 218, 211, 0.2);
    border-radius: 10px;
    transition: 0.5s;
    font-size: 18px;
    font-weight: 700;
    display: block;
    text-align: center;
}

.btn_sugestion a:hover {
    cursor: pointer;
    background-color: #5ea141;
}