.btn_add {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 12.5vw;
    
}

.btn_add button {
    border: none;
    padding: 15px 30px;
    background-color: #7DD956;
    color: #141F10;
    box-shadow: 0px 2px 16px rgba(11, 11, 11, 0.1);
    border-radius: 10px;
    transition: 0.5s;
    font-size: 18px;
    font-weight: 700;
}

.btn_add button:hover {
    cursor: pointer;
    background-color: #5ea141;
}