.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup_inner .close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: #7DD956;
    border: none;
    font-size: 25px;
}

.popup_inner .close_btn:hover {
    cursor: pointer;
}


.popup_inner {
    position: relative;
    padding: 50px;
    width: 526px;
    height: 503px;
    max-width: 640px;
    border-radius: 10px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popup_inner .save_btn {
    position: absolute;
    width: 426px;
    height: 51px;
    left: 50px;
    top: 402px;
    font-weight: 700;
    font-size: 18px;
    color: #141F10;
    background-color: #7DD956;
    box-shadow: 0px 2px 16px rgba(11, 11, 11, 0.1);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.popup_inner .save_btn:hover {
    background-color: #5ea141;
}

h2, p {
    text-align: center;
}

.popup_inner p {
    color: #A1A4B2;
    font-weight: 300;
    text-align: center;
}

h3 {
    text-align: left;
}

.popup_input {
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-start;
    gap: 10px;
    align-items: center;
}

.popup_calorias {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popup_calorias input {
    max-width: 188px;
}