.container {
  width: 300px;
  height: 50px;
  position: relative;
  width: 100%;
  border-radius: 5px;
}

.box {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.red {
  background-color: red;
  z-index: 3;
  border-radius: 5px;
}

.green {
  background-color: green;
  z-index: 2;
  border-radius: 5px;
}

.yellow {
  background-color: yellow;
  z-index: 1;
  left: unset;
  right: 0;
  border-radius: 5px;
}
