.footer {
    background-color: #141F10;
    color: #fff;
    padding: 3em;
    display: flex;
    justify-content: space-around;
}

.footer_menu {
    display: flex;
    gap: 1em;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #7DD956;
}

.down {
    margin-top: 5em;
}

