nav {
    display: flex;
    justify-content: space-around;
    padding: 1em;
    box-shadow: 0px 2px 16px rgba(11, 11, 11, 0.1);
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 10px;
}

.item {
    margin-right: 2em;
}

.item a {
    color: #424242;
    text-decoration: none;
    font-size: 20px;
}
