/*Fazendo o reset do css em todos os elementos*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --cor-branca: #FFF;
}

html,
body,
#root {
  background-color: var(--cor-branca);
  height: 100%;
}